zeno-core/zeno-cdf/src/main/resources/org/zeno/core/cdf/v0/common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zeno-cdf.org/core/v0" elementFormDefault="qualified">
  <xs:element name="resource" type="resource"/>

  <xs:complexType name="resource">
    <xs:complexContent>
      <xs:extension base="meta-object"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="meta-object">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="version" type="xs:string" default="0"/>
  </xs:complexType>
</xs:schema>